/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 04/06/2024, 11:23:53
    Author     : jaque
*/

body {
    font-family: sans-serif;
}

form {
    margin: 20px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Posiciona o modal de forma fixa na tela */
    z-index: 1; /* Define a ordem de empilhamento do modal */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    height: 100%; /* Ocupa toda a altura da tela */
    overflow: auto; /* Permite rolagem se o conteúdo for maior que a tela */
    background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo semitransparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Posiciona o conteúdo no centro da tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Define a largura do conteúdo */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
